body {
  margin: 0;
  font-family: 'McKinsey Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'McKinsey Code', 'Courier New', Courier, monospace;
}