<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/header') %>

    <body>
        <%- include('../partials/menu') %>
        
        
        <section class="main-content">
            <div>
                <h1>Landing page</h1>
                <p>This is the main page of the application</p>
            </div>
        </section>

        <script>
        </script>
    </body>
</html>