    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Pharmaceutical Back-Office Application</title>
        <link
            href="https://fonts.googleapis.com/icon?family=Material+Icons"
            rel="stylesheet"
        />
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap"
            rel="stylesheet"
        />
        <link href="//cdn.muicss.com/mui-0.10.3/css/mui.min.css" rel="stylesheet" type="text/css" />
        <script src="//cdn.muicss.com/mui-0.10.3/js/mui.min.js"></script>
        <style>
            body {
                font-family: "McKinseySans", 'Helvetica Neue', Helvetica, Arial, sans-serif;
                margin: 0;
                padding: 0;
            }

            .main-content {
                display: flex;
                justify-content: center;
                align-items: center;
                height: calc(100vh - 64px);
                text-align: center;
            }

            .main-content h1 {
                font-size: 36px;
                margin: 0;
            }

            .main-content p {
                font-size: 18px;
                color: #555;
            }
        </style>
    </head>